<div class="header">
  <a routerLink="/">
    <img class="header-logo" src="./app/header/logo-almundo.svg">
  </a>

  <div class="header-menu">
    <span class="header-menu-item">
      <a href="">
        <i class="glyphicon glyphicon-user"></i> Ingresar
      </a>
    </span>

    <span class="header-menu-item">
      <a href="">
        <img src="./app/header/logo-clubalmundo.svg">
      </a>
    </span>

    <span class="header-menu-item">
      <a href="">Sucursales</a>
    </span>

    <span class="header-menu-item">
      <a href="">Llamanos</a>
    </span>

    <span class="header-menu-item">
      <a href=""><b>AYUDA</b></a>
    </span>
  </div>
</div>
